* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

/*-----MEDIA QUIRES-------*/
@media (max-width: 768px) {
  .container-fluid a {
    font-size: 40px;
  }
  .carousel-item img {
    height: auto;
  }
  /*------Productos------*/
  .cardUno {
    margin: 5px auto;
    border-radius: 5%;
  }
  .primeraFila {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .segundaFila, main .quintaFila, main .cuartaFila, main .terceraFila, main .primeraFila {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .terceraFila {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cuartaFila {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .quintaFila {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .titulosProductos {
    margin-left: 0px;
  }
  .colorFooter {
    background-color: #000000;
    padding: 20px;
  }
  .itemsFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 180px;
  }
  .listasFooter {
    flex: 0 0 calc(33.33% - 20px);
    list-style: none;
    padding: 0;
    color: white;
  }
  .titulosFooter {
    font-weight: bold;
  }
  /*------Contactos---------*/
  .formulario {
    padding: 20px;
  }
}
@media (max-width: 425px) {
  .itemsFooter {
    margin-left: 20px;
  }
  .formulario {
    padding: 20px;
  }
  /*-------Sobre nos------*/
  .titulosSobreNos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulosSobreNos h2 {
    font-size: 18px;
  }
  .titulosSobreNos p {
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
    margin-right: 5px;
  }
  .fotoTienda,
  .fotoMision,
  .fotoTrabaja {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .fotoTienda img,
  .fotoMision img,
  .fotoTrabaja img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  /*-------Preg frec-----*/
  .titulosPreguntas {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  .metodosPago,
  .entregas,
  .devoluciones,
  .seguimiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  .metodosPago img,
  .entregas img,
  .devoluciones img,
  .seguimiento img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .metodosPago p,
  .entregas p,
  .devoluciones p,
  .seguimiento p {
    font-size: 14px;
    text-align: justify;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 320px) {
  .container-fluid a {
    font-size: 25px;
  }
  .carousel-item img {
    height: auto;
  }
  .cardUno {
    margin: 10px auto;
    border-radius: 5%;
    max-width: 310px;
    max-height: 450px;
  }
  .itemsFooter {
    margin-left: -30px;
  }
  .formulario {
    padding: 20px;
  }
  .navPage {
    padding: 20px;
  }
}
/*--------Sobre nosotros-----*/
.fotoEquipo {
  max-width: 300px;
  margin-right: 10px;
}

.misionVision {
  max-width: 300px;
  margin-right: 10px;
}

.tiendaVirtual {
  max-width: 300px;
  margin-right: 10px;
}

.itemsFooter {
  text-align: center;
}

/*-----Preg frec--------*/
.fotoMetodos {
  max-width: 300px;
}

.fotoEntregas {
  max-width: 300px;
}

.fotoDevoluciones {
  max-width: 300px;
}

.fotoSeguimiento {
  max-width: 300px;
}

.metodosPago p {
  text-align: center;
  margin-left: -10px;
}

.entregas p {
  text-align: center;
  margin-left: -10px;
}

.devoluciones p {
  text-align: center;
  margin-left: -10px;
}

.seguimiento p {
  text-align: center;
  margin-left: -10px;
}

/*-----HEADER HOMEPAGE------*/
header {
  background-color: black;
  width: 100%;
  padding: 2px;
  top: 0;
  left: 0;
}
header .mainLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 80px;
}
header .mainTitle {
  color: white;
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}

nav .navbar {
  padding-bottom: 50px;
}
nav .container-fluid a {
  color: white;
}
nav .container-fluid a:hover {
  color: grey;
}
nav .container-fluid .custom-toggler {
  color: white;
  border-color: white;
  background-color: white;
}

.btn-white {
  background-color: white;
  color: black;
}
.btn-white:hover {
  color: red;
}

/*-------HEADER PRODUCTOS------*/
.headerProductos {
  background-color: black;
}

/*----------header SOBRE NOSOTROS--------*/
.headerJordans {
  background-color: black;
}

/*-------HEADER PREGUNTAS FRECUENTES----------*/
.headerYeezys {
  background-color: black;
}

/*-------------HEADER CONTACTO--------------*/
.headerContacto {
  background-color: black;
}

/*---------- HEADER 404--------------*/
/*----------MAIN HOMEPAGE----------*/
main .suscribiteClub {
  background-color: black;
  text-align: center;
  color: white;
  padding-bottom: 1px;
}
main .subTitulos {
  background-color: black;
  margin-top: -5px;
}
main .subTitulo1 {
  text-align: center;
  color: white;
  padding-top: 5px;
}
main .subTitulo1 h2 {
  padding-bottom: 0px;
}
main .subTitulo2 {
  text-align: center;
  color: white;
  padding-bottom: 1px;
}
main .fondoMain {
  background-image: url(https://m.media-amazon.com/images/I/71AbdOgwNuL._AC_UF894,1000_QL80_.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1px;
}

.letraCajas h2 {
  color: white;
  margin-bottom: -11px;
}
.letraCajas p {
  color: white;
  margin-bottom: 5px;
  margin-top: 8px;
}

.botonMain {
  margin-top: -20px;
  padding: 4px;
  border-bottom: slategrey;
  border-radius: 7px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.botonMain:hover {
  color: burlywood;
  transform: scale(1.05);
}

.cardUno {
  width: 350px;
  height: 400px;
  background-color: black;
  margin: 40px;
  border-radius: 10%;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.cardUno div {
  width: 100%;
  height: 300px;
  object-fit: contain;
  overflow: hidden;
}
.cardUno div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}
.cardUno div:hover img {
  transform: scale(1.1);
}

.page-link {
  color: white;
  background-color: black;
  margin-bottom: 10px;
}

/*-----------MAIN PRODUCTOS-------------------------*/
.fondoProductos {
  background-image: url(https://images.unsplash.com/photo-1621146027714-e8921770f8d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60);
  padding-bottom: 1px;
}

main .titulosProductos {
  color: white;
  text-decoration: underline;
  margin-left: 40px;
}
main .colorCajasProd {
  background-color: rgb(92, 89, 89);
}
main .colorCajasProd .botonProductos {
  margin-top: -20px;
  padding: 4px;
  border-radius: 7px;
  border-bottom: black;
  font-weight: bold;
  transition: all 0.3s ease;
}
main .colorCajasProd .botonProductos:hover {
  color: burlywood;
  transform: scale(1.05);
}
main .segundaFila, main .quintaFila, main .cuartaFila, main .terceraFila, main .primeraFila {
  display: flex;
  justify-content: center;
}
/*-------------MAIN PREGFREC----------*/
main .titulosPreguntas {
  text-align: center;
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: 20px;
  text-decoration: underline;
}
main .metodosPago, main .entregas, main .devoluciones, main .seguimiento {
  display: flex;
  align-items: center;
}
main .metodosPago img, main .entregas img, main .devoluciones img, main .seguimiento img {
  width: 400px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  border-radius: 20%;
}

.colorPreguntas {
  background-color: rgb(158, 154, 154);
  padding-bottom: 1px;
}

/*-------------MAIN SOBRE NOS----------*/
main .titulosSobreNos {
  margin-left: 20px;
}
main .titulosSobreNos h2 {
  margin-bottom: 30px;
  margin-top: 0px;
  text-decoration: underline;
}
main .titulosSobreNos .fotoTrabaja {
  display: flex;
  align-items: center;
  text-align: center;
}
main .titulosSobreNos .fotoEquipo {
  width: 400px;
  border-radius: 10%;
  margin-bottom: 30px;
}
main .titulosSobreNos .fotoMision {
  display: flex;
  align-items: center;
  text-align: center;
}
main .titulosSobreNos .misionVision {
  width: 400px;
  border-radius: 10%;
  margin-bottom: 30px;
}
main .titulosSobreNos .fotoTienda {
  display: flex;
  align-items: center;
  text-align: center;
}
main .titulosSobreNos .tiendaVirtual {
  width: 400px;
  border-radius: 10%;
  margin-bottom: 30px;
}

.mainSobrenos {
  background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTJ8fGFib3V0JTIwdXMlMjB3aGl0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  padding-bottom: 1px;
  background-repeat: no-repeat;
}

/*----------------MAIN CONTACTO------------*/
.fondoContacto {
  background-image: url(https://images.unsplash.com/photo-1528458909336-e7a0adfed0a5?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDl8fGZvbmRvJTIwcGFnaW5hJTIwZGUlMjBjb250YWN0b3xlbnwwfHwwfHx8MA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

main .imagenContacto {
  width: 45%;
  margin-left: 25%;
  border-radius: 50%;
  border-style: double;
}
main .subtituloContacto {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
main .formulario {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 75%;
}
main .formulario .btn {
  background-color: black;
}
main .tituloContacto {
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: underline;
  margin-left: 20px;
}
main .parrafoContacto {
  margin-bottom: 20px;
  margin-left: 20px;
}
main .navPage {
  display: flex;
  justify-content: center;
}

/*-----------------MAIN 404-------------*/
.fondoError {
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-vector%2Ferror-404-page-found-natural-concept-illustration-background-web-missing-landing-page_29677463.htm&psig=AOvVaw3Wz3doqWU_NS0hex3Cu_fR&ust=1699970412304000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjijraRwYIDFQAAAAAdAAAAABAg);
  display: flex;
  justify-content: center;
}

.imagenError {
  width: 100%;
}

.tituloError {
  text-align: center;
}

/*----------FOOTER MAIN----------*/
footer {
  background-color: black;
  width: 100%;
  padding: 3px;
  top: 0;
  left: 0;
}
footer .itemsFooter {
  padding: 2px;
  display: flex;
  justify-content: space-between;
  color: white;
}
footer .itemsFooter .listasFooter {
  list-style: none;
  text-align: center;
  display: inline;
  justify-content: space-between;
  margin: 15px 100px;
}
footer .itemsFooter .listasFooter .titulosFooter {
  font-weight: bold;
  font-size: larger;
  color: white;
}

/*--------------FOOTER PRODUCTOS-----------*/
.colorFooterProductos {
  background-color: black;
}

/*----------fOOTER SOBRE NOS---------*/
.colorFooterJordans {
  background-color: black;
}

/*----------FOOTER PREGUNTAS FREC---------*/
.colorFooterYeezys {
  background-color: black;
}

.letraFooterYeezys ul li {
  color: white;
}

/*---------Footer CONTACTOS--------*/
.colorFooterContactos {
  background-color: black;
  margin-top: -20px;
}

/*# sourceMappingURL=style.css.map */
