/*-----HEADER HOMEPAGE------*/
header{
    .mainLogo{
        @include flex(center,center)
    }
    background-color: $header-color;
        width: 100%;
        padding: 2px;
        top: 0;
        left: 0;
        img{
            width: 80px;
        }
    .mainTitle{
        color: white;
        text-align: center;
        font-size: 15px;
        margin-bottom: 30px;
    }
}

nav{
    .navbar {
        padding-bottom: 50px;
    }
    .container-fluid {
        a {
            color: $navbar-letter-color;
            &:hover{
                color: grey;
            }
        }
        .custom-toggler {
            color: white;
            border-color: white;
            background-color: white;
        }
    }
}

.btn-white {
    background-color: white;
    color: black;
    &:hover{
        color: red;
    }
}

/*-------HEADER PRODUCTOS------*/
.headerProductos{
    background-color: $header-color;
}
/*----------header SOBRE NOSOTROS--------*/
.headerJordans{
    background-color: $header-color;
}
/*-------HEADER PREGUNTAS FRECUENTES----------*/
.headerYeezys {
    background-color: $header-color;
}
/*-------------HEADER CONTACTO--------------*/
.headerContacto{
    background-color: $header-color;
}

/*---------- HEADER 404--------------*/
