/*----------MAIN HOMEPAGE----------*/
main{
    .suscribiteClub {
        background-color: black;
        text-align: center;
        color: white;
        padding-bottom: 1px;
    }
    .subTitulos {
        background-color: black;
        margin-top: -5px;
    }
    .subTitulo1 {
        text-align: center;
        color: white;
        padding-top: 5px;
    
        h2 {
            padding-bottom: 0px;
        }
    }
    .subTitulo2 {
        text-align: center;
        color: white;
        padding-bottom: 1px;
    }
    .fondoMain {
        background-image: url(https://m.media-amazon.com/images/I/71AbdOgwNuL._AC_UF894,1000_QL80_.jpg);
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 1px;
    }
}
.letraCajas {
    h2 {
        color: white;
        margin-bottom: -11px;
    }
    p {
        color: white;
        margin-bottom: 5px;
        margin-top: 8px;
    }
}
.botonMain {
    margin-top: -20px;
    padding: 4px;
    border-bottom: slategrey;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease; 

    &:hover {
        color: burlywood;
        transform: scale(1.05); 
    }
}
.cardUno {
    width: 350px;
    height: 400px;
    background-color: black;
    margin: 40px;
    border-radius: 10%;
    text-align: center;
    overflow: hidden;
    position: relative;

    div {
        width: 100%;
        height: 300px;
        object-fit: contain;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}
.page-link {
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

/*-----------MAIN PRODUCTOS-------------------------*/
.fondoProductos{
    background-image: url(https://images.unsplash.com/photo-1621146027714-e8921770f8d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60);
    padding-bottom: 1px;
}

main{
    .primeraFila{
        @extend .segundaFila
        }
        .titulosProductos{
            color: white;
            text-decoration: underline;
            margin-left: 40px;
        }
        .colorCajasProd{
            background-color: rgb(92, 89, 89);
            .botonProductos {
                margin-top: -20px;
                padding: 4px;
                border-radius: 7px;
                border-bottom: black;
                font-weight: bold;
                transition: all 0.3s ease;
            
                &:hover {
                    color: burlywood;
                    transform: scale(1.05);
                }
            }
        }
    .segundaFila{
        display: flex;
        justify-content: center;
        }
    .terceraFila{
        @extend .segundaFila
        }
    .cuartaFila {
        @extend .segundaFila
        }
    .quintaFila {
        @extend .segundaFila
        }
    }

/*-------------MAIN PREGFREC----------*/
main{
    .titulosPreguntas {
        text-align: center;
        font-size: map-get($size , title);
        margin-top: -10px;
        margin-bottom: 20px;
        text-decoration: underline;
    }
    .metodosPago, .entregas, .devoluciones, .seguimiento {
        display: flex;
        align-items: center;
        img {
            width: 400px;
            margin-right: 50px;
            margin-bottom: 50px;
            margin-left: 20px;
            border-radius: 20%;
        }
    }
}
.colorPreguntas {
    background-color: rgb(158, 154, 154);
    padding-bottom: 1px;
}
/*-------------MAIN SOBRE NOS----------*/
main{
    .titulosSobreNos {
        margin-left: 20px;
        h2 {
            margin-bottom: 30px;
            margin-top: 0px;
            text-decoration: underline;
        }
    .fotoTrabaja{
        display: flex;
        align-items: center;
        text-align: center;
    }
        .fotoEquipo{
            @include card
        }
    .fotoMision{
        display: flex;
        align-items: center;
        text-align: center;
    }
        .misionVision{
            @include card
        }
    .fotoTienda{
        display: flex;
        align-items: center;
        text-align: center;
    }
        .tiendaVirtual{
            @include card
        }
    }
}
.mainSobrenos{
    background-image: url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTJ8fGFib3V0JTIwdXMlMjB3aGl0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    padding-bottom: 1px;
    background-repeat: no-repeat;
}
/*----------------MAIN CONTACTO------------*/
.fondoContacto{
    background-image: url(https://images.unsplash.com/photo-1528458909336-e7a0adfed0a5?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDl8fGZvbmRvJTIwcGFnaW5hJTIwZGUlMjBjb250YWN0b3xlbnwwfHwwfHx8MA%3D%3D);
    background-repeat: no-repeat ;
    background-size: cover;
}
main{
    .imagenContacto{
        width: 45%;
        margin-left: 25%;
        border-radius: 50%;
        border-style: double;
    }
    .subtituloContacto{
        text-align: center;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .formulario{
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
        max-width: 75%;
        
        .btn{
            background-color: black;
        }
    }
    .tituloContacto{
        margin-bottom: 20px;
        margin-top: 20px;
        text-decoration: underline;
        margin-left: 20px;
    }
    .parrafoContacto{
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .navPage{
        display: flex;
        justify-content: center;
    }
}

/*-----------------MAIN 404-------------*/
.fondoError{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fpremium-vector%2Ferror-404-page-found-natural-concept-illustration-background-web-missing-landing-page_29677463.htm&psig=AOvVaw3Wz3doqWU_NS0hex3Cu_fR&ust=1699970412304000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjijraRwYIDFQAAAAAdAAAAABAg);
    display: flex;
    justify-content: center;
}
.imagenError{
    width: 100%;
}
.tituloError{
    text-align: center;
}