/*----------MAIN HOMEPAGE----------*/
.fondoMain {
    background-image: url(https://m.media-amazon.com/images/I/71AbdOgwNuL._AC_UF894,1000_QL80_.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1px;
}
.suscribiteClub {
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 1px;

    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
.subTitulos {
    background-color: black;
    margin-top: -5px;
}

.subTitulo1 {
    text-align: center;
    color: white;
    padding-top: 5px;

    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 0px;
    }
}
.subTitulo2 {
    text-align: center;
    color: white;
    padding-bottom: 1px;

    h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
.imagenJordans img {
    width: 100%;
    height: 760px;
}
.cajasHome {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.letraCajas {
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
        margin-bottom: -11px;
    }
    p {
        color: white;
    }
}
.botonMain {
    margin-top: -20px;
    padding: 4px;
    border-bottom: slategrey;
    border-radius: 7px;
    font-weight: bold;
    transition: all 0.3s ease; 

    &:hover {
        color: burlywood;
        transform: scale(1.05); 
    }
}
.cardUno {
    width: 350px;
    height: 400px;
    background-color: black;
    margin: 40px;
    border-radius: 10%;
    text-align: center;
    overflow: hidden;
    position: relative;

    div {
        width: 100%;
        height: 300px;
        object-fit: contain;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }

        &:hover img {
            transform: scale(1.1);
        }
    }
}
.page-link {
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

/*-----------MAIN PRODUCTOS-------------------------*/
.fondoProductos{
    background-image: url(https://images.unsplash.com/photo-1621146027714-e8921770f8d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60);
    padding-bottom: 1px;
}

.titulosProductos{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
    margin-left: 20px;
}

.primeraFila{
display: flex;
justify-content: center;
}

.colorCajasProd{
    background-color: rgb(92, 89, 89);
}

.segundaFila{
display: flex;
justify-content: center;
}

.terceraFila{
    display: flex;
    justify-content: center;
}
.cuartaFila {
    display: flex;
    justify-content: center;
}
.quintaFila {
    display: flex;
    justify-content: center;
}
.botonProductos {
    margin-top: -20px;
    padding: 4px;
    border-radius: 7px;
    border-bottom: black;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
        color: burlywood;
        transform: scale(1.05);
    }
}

/*-------------MAIN PREG FREC----------*/
.colorPreguntas {
    background-color: rgb(158, 154, 154);
    padding-bottom: 1px;
}
.titulosPreguntas {
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.metodosPago, .entregas, .devoluciones, .seguimiento {
    display: flex;
    align-items: center;

    img {
        width: 400px;
        margin-right: 50px;
        margin-bottom: 50px;
        margin-left: 20px;
        border-radius: 20%;
    }
}
.seguimiento {
    img {
        margin-bottom: 20px;
    }
}

/*-------------MAIN SOBRE NOS----------*/
.mainSobrenos{
    background-image: url(https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJhY2tncm91bmQlMjBpbWFnZSUyMGFib3V0JTIwdXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60);
    background-size: 100%;
    padding-bottom: 1px;
}
.titulosSobreNos {
    margin-left: 20px;
    h2 {
        margin-bottom: 30px;
        margin-top: 0px;
        margin-left: 20px;
        font-family: 'Times New Roman', Times, serif;
        text-decoration: underline;
    }
}

/*----------------MAIN CONTACTO------------*/
.formulario{
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.btn{
    background-color: black;
}
.imagenContacto{
    width: 45%;
    margin-left: 25%;
}
.tituloContacto{
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.subtituloContacto{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.parrafoContacto{
    margin-bottom: 20px;
}





