*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

    /*-----MEDIA QUIRES-------*/

    @media(max-width:768px){
        .container-fluid a{
            font-size: 40px;
        }
        .carousel-item img{
            height: auto;
        }
        /*------Productos------*/
        .cardUno{
            margin: 5px auto;
            border-radius: 5%;
        }
        .primeraFila{
            @include filasproductos
        }
        .segundaFila{
            @include filasproductos
        }
        .terceraFila{
            @include filasproductos
        }
        .cuartaFila{
            @include filasproductos
        }
        .quintaFila{
            @include filasproductos
        }
        .titulosProductos{
            margin-left: 0px;
        }
        .colorFooter {
            background-color: #000000; 
            padding: 20px; 
        }
        .itemsFooter {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: 180px;
        }
        
        .listasFooter {
            flex: 0 0 calc(33.33% - 20px); 
            list-style: none;
            padding: 0;
            color: white; 
        }
        
        .titulosFooter {
            font-weight: bold; 
        }
        /*------Contactos---------*/

        .formulario{
            padding: 20px;
        }
    
    }

    @media(max-width:425px){
        .itemsFooter{
            margin-left: 20px;
        }
        .formulario{
            padding: 20px;
        }
        /*-------Sobre nos------*/

        .titulosSobreNos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .titulosSobreNos h2 {
            font-size: 18px;
        }

        .titulosSobreNos p {
            font-size: 14px;
            text-align: justify;
            margin-top: 10px;
            margin-right: 5px;
        }

        .fotoTienda,
        .fotoMision,
        .fotoTrabaja {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 20px;
        }

        .fotoTienda img,
        .fotoMision img,
        .fotoTrabaja img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        /*-------Preg frec-----*/
        .titulosPreguntas {
            font-size: 18px;
            text-align: center;
            margin-top: 20px;
        }

        .metodosPago,
        .entregas,
        .devoluciones,
        .seguimiento {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 20px;
            margin-left: 20px;
        }

        .metodosPago img,
        .entregas img,
        .devoluciones img,
        .seguimiento img {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        .metodosPago p,
        .entregas p,
        .devoluciones p,
        .seguimiento p {
            font-size: 14px;
            text-align: justify;
            margin-top: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }

    }

    @media(max-width:320px){
        .container-fluid a{
            font-size: 25px;
        }
        .carousel-item img{
            height: auto;
        }
        .cardUno{
            margin: 10px auto;
            border-radius: 5%;
            max-width: 310px;
            max-height: 450px;
        }
        .itemsFooter{
            margin-left: -30px;

        }
        .formulario{
            padding: 20px;
        }
        .navPage{
            padding: 20px;
        }
    }
        /*--------Sobre nosotros-----*/
        .fotoEquipo{
            max-width: 300px;
            margin-right: 10px;
        }
        .misionVision{
            max-width: 300px;
            margin-right: 10px;
        }
        .tiendaVirtual{
            max-width: 300px;
            margin-right: 10px;
        }
        .itemsFooter{
            text-align: center;
        }
        /*-----Preg frec--------*/
        .fotoMetodos{
            max-width: 300px;
        }
        .fotoEntregas{
            max-width: 300px;
        }
        .fotoDevoluciones{
            max-width: 300px;
        }
        .fotoSeguimiento{
            max-width: 300px;
        }
        .metodosPago{
            p{
                text-align: center;
                margin-left: -10px;
            }
        }
        .entregas{
            p{
                text-align: center;
                margin-left: -10px;
            }
        }
        .devoluciones{
            p{
                text-align: center;
                margin-left: -10px;
            }
        }
        .seguimiento{
            p{
                text-align: center;
                margin-left: -10px;
            }
        }


        
    
